<!DOCTYPE html>
<html>
	<head>
		<title>Ninth Balcony</title>
		<link href="style.css" rel="stylesheet">
<!-- 		// <script type="text/javascript" src="js.js"></script> -->
	</head>

	<body>
		<header id="header">
			<h1>
				<script language="javascript">
				datetoday = new Date();
				timenow=datetoday.getTime();
				datetoday.setTime(timenow);
				thehour = datetoday.getHours();
				if (thehour > 18) display = "Evening";
				else if (thehour >12) display = "Afternoon";
				else display = "Morning";
				var greeting = ("Good " + display + "!");
				document.write(greeting);
				</script>
			<%= username %></h1>
		</header>

		<table>
			<tr>
				<td><a href="/lights.html">Remote Lightswitches</a></td>
			</tr>  
			<tr>
				<td><a href="/thermostat.html">Thermostat</a></td>
			</tr>  
			<tr>
				<td><a href="/frige.html">Refrigerator</a></td>
			</tr>  
			<tr>
				<td><a href="/stove.html">Stove</a></td>
			</tr>  
			<tr>
				<td><a href="/garage.html">Garage</a></td>
			</tr> 
			<tr>
				<td><a href="/devices.html">Console Devices</a></td>
			</tr> 
			<tr>
				<td><a href="/internet.html">Internet</a></td>
			</tr> 
			<tr>
				<td><a href="/security.html">Home Security</a></td>
			</tr>  
			<tr>
				<td><a href="/exterior.html">Home Exterior</a></td>
			</tr> 
			<tr>
				<td><a href="/dishwasher.html">Dishwasher</a></td>
			</tr> 
		</table>

		<footer>
			<button type="button" onclick="alert('Add an Application')">
			+
			</button>
			<button type="button" onclick="alert('Delete an Application')">
			x
			</button>
		</footer>
			
	</body>

</html>